/* Reset styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global font styles */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: '#fff'
}

a {
    color: 'black'
}

/* Form input styles */
input[type='text'],
input[type='password'] {
    border: none;
}